.component {
    align-items: center;
    display: flex;
    position: relative;

    .fretboard,
.fretboard-overlay {
    display:  table;
    width:100%;

    .string,
    .overlay {
        display: table-row;
        width: 100%;
    }

    // .overlay {
    //     //margin-top: -100px;

    //     .fret {
    //         display: table-cell;
    //         text-align: center;
    //         width: percentage(1/13);
    //     }
    // }

    .string {
        .fret {
            border-right: 1px solid black;
            display: table-cell;
            padding-top: 6px;
            padding-bottom: 6px;
            position: relative;
            text-align: center;
            width: percentage(1/13);

            .note {
                align-items: center;
                background-color: white;
                border: 1px solid black;
                border-radius: 50%;
                cursor: pointer;
                display: inline-flex;
                height: 50px;
                justify-content: center;
                width: 50px;
            }

            &:after {
                position: absolute;
                left: 0;
                top: 50%;
                height: 3px;
                background: black;
                content: "";
                width: 100%;
                display: block;
                z-index: -1;
            }

            &:nth-child(1) {
                border-right: 3px solid black !important;

                &:after {
                    background: none !important;
                }
            }
        }
    }
}

    .fretboard-overlay {
        position: absolute;
        width: 100%;

        .overlay {
            .fret {
            display: table-cell;
            text-align: center;
            width: percentage(1/13);

            .marker {
                display: flex;
                align-content: center;
                justify-content: center;
                position: relative;
                z-index: -1;

                &:before{ 
                    background-color: black;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 30px;
                    width: 30px;
                }
            }
        }
        }
    }
}