<!-- <div class="controls">
  <app-toggle [checked]="showNotes" [label]="'Show notes'" (valueChanged)="setShowNotes($event)"></app-toggle>
  <app-toggle [checked]="false" [label]="'6 string'" (valueChanged)="setSixStrings($event)"></app-toggle>
</div> -->
<div class="component">
  <div class="fretboard">
    <div *ngFor="let string of getStrings()" class="string" [ngClass]="{'enabled': string.name === stringToEnable}">
      <div *ngFor="let fret of string.frets; let i = index" class="fret">
        <div class="note" (click)="playNote(string.name, fret)" disabled="disabled">
          <span *ngIf="showNotes">{{ fret }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="fretboard-overlay">
    <div class="overlay">
      <div *ngFor="let position of positions" class="fret">
        <div *ngIf="includes([3, 5, 7, 9], position);" class="marker"></div>
        <div *ngIf="position === 12" class="marker double"></div>
      </div>
    </div>
  </div>
</div>